.AppBar {
  background-color: rgb(51, 103, 214);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem 0.5rem;
}

.AppBar__container {
  width: 95%;
}

@media (min-width: 660px) {
  .AppBar__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
}
