.controls {
  display: flex;
  justify-content: space-between;

  .btn {
    display: block;
    width: 32%;
    padding: 1rem 0;
    border-radius: 0.125rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #077187;
    background-color: #FBFEF9;

    &:hover {
      box-shadow: 0 0 5px 5px #FBFEF9;
    }

    &--active {
      background-color: #077187;
      color: #fefefe;
      &:hover {
        box-shadow: none;
      }
    }

    @media (min-width: 768px) {
      font-size: 1.3rem;
    }
  }
}
