.results-container {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid #fefefe;

  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
