.bar {
  padding: 0.5rem;
  background-color: #3367d6;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem 1rem;
  }
}

@media (min-width: 1200px) {
  .bar {
    padding: 1.5rem 2rem;
  }
}
