<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="page">
<div class="app">
  <h1 class="app-header">Pomodoro Clock</h1>
  <div class="knobs">
    <div class="knob" id="session-knob">
      <h2 class="knob__title">Session Length</h2>
    </div>
    <div class="knob" id="break-knob">
      <h2 class="knob__title">Break Length</h2>
    </div>
  </div>
  <div class="controls">
    <button id="start-btn" class="controls__btn controls__btn--green">start</button>
    <button id="reset-btn" class="controls__btn controls__btn--red">reset</button>
  </div>
  <div class="timer">
    <p class="timer__text" id="timer-text">00:00:00</p>
  </div>
</div>
<audio id="sounds" preload="auto">
  <source src="audio/pomodoro-sound.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
</body>
</html>
