.GalleryCard {
  height: 100%;
}

.GalleryCard__link {
  display: block;
  height: 100%;
  padding: 0.75rem;
  border-radius: 0.125rem;
  color: #0f0f0f;
  text-decoration: none;
  background-color: #fefefe;
}

.GalleryCard__link:hover {
  outline: 0;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 1);
}

.GalleryCard__img {
  display: block;
  width: 100%;
  height: 200px;
  background-color: rgb(51, 103, 214);
  object-fit: cover;
}

.GalleryCard__title {
  font-size: 1.625rem;
  line-height: 2;
}
.GalleryCard__text {
  font-size: 1.125rem;
  line-height: 1.3;
}
