.card {
  height: 100%;
}

.link {
  display: block;
  height: 100%;
  padding: 1rem;
  border-radius: 0.125rem;
  color: #0f0f0f;
  text-decoration: none;
  background-color: #fefefe;
}

.link:hover {
  outline: 0;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 1);
}

.img {
  display: block;
  width: 100%;
  height: 250px;
  background-color: rgb(51, 103, 214);
  object-fit: cover;
}

.title {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 2;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
}
