* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(#1B1B1E, #333);
  font-family: Roboto, -apple-system, sans-serif;
}

.container {
  margin: auto;
}
