.board {
  border-collapse: collapse;
  border-radius: 0.125rem;
  margin: auto;
}

.board__row {
  &:first-child .board__cell {
    border-top: 0;
  }
  &:last-child .board__cell {
    border-bottom: 0;
  }
  .board__cell:first-child {
    border-left: 0;
  }
  .board__cell:last-child {
    border-right: 0;
  }
}

.board__cell {
  border: 1px solid #fff;
  width: 6rem;
  height: 6rem;
  text-align: center;
  vertical-align: middle;
  font-size: 5rem;
  color: #fff;
  user-select: none;
  cursor: pointer;
  &--green {
    background-color: #2E7D32;
  }
  &--red {
    background-color: #C62828;
  }
}
