.author-link {
  position: relative;
  font-family: Aladin, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #39A9DB;
  margin-top: 1rem;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
  }
  &:hover {
    color: #FF9770;
    &:before {
      background-color: #FF9770;
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
