.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 30rem;
  height: 30rem;
  padding: 1rem;
  background-color: #424242;
  border-radius: 0.125rem;
}

.btn {
  width: 49%;
  border: 0;
  border-radius: 0.125rem;
  &:focus {
    outline: 0;
  }
  &:nth-child(1) {
    background-color: #2E7D32;
    margin-bottom: 2%;
  }
  &:nth-child(2) {
    background-color: #C62828;
    margin-bottom: 2%;
  }
  &:nth-child(3) {
    background-color: #F9A825;
  }
  &:nth-child(4) {
    background-color: #1565C0;
  }
}

.clickable {
  pointer-events: auto;
  cursor: pointer;
}

.unclickable {
  pointer-events: none;
}

.active {
  filter: brightness(2);
}
