// Vars
$title-font: 'Aladin', Arial, sans-serif;
$text-font: 'Aladin', Tahoma, sans-serif;
$link-font: 'Aladin', Arial, sans-serif;

// Rules
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

p, input[type="text"], textarea, label {
  font-family: $text-font;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #33312E;
  word-break: normal;
}

a, input[type="button"], input[type="submit"], button {
  font-family: $link-font;
}
