.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  &__link {
    color: #39A9DB;
    font-size: 1.3rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    &:hover,
    &:focus,
    &:active {
      color: #FF9770;
    }
  }
  &__text {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  &__search-box {
    display: flex;
    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
  &__input {
    width: 18rem;
    border: 0;
    padding: 0.5rem 0.65rem;
    font-size: 1.25rem;
    background-color: #F7FFF7;
    border-bottom-left-radius: 0.125rem;
    border-top-left-radius: 0.125rem;
  }
  &__btn {
    padding: 0 1rem;
    outline: 0;
    border: 0;
    border-bottom-right-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fefefe;
    background-color: #39A9DB;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #FF9770;
      color: #fefefe;
    }
    @media (max-width: 480px) {
      margin-top: 0.5rem;
      padding: 0.5rem;
    }
  }
}
