.SearchForm {
  display: flex;
  padding: 0.825rem;
  background-color: #fff;
}

.SearchForm__input {
  flex-grow: 1;
  border: 0;
  border-radius: 0.125rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.125rem;
  color: rgb(33, 33, 33);
}

.SearchForm__input::placeholder {
  color: rgba(33, 33, 33, 0.8);
}

.SearchForm__input:focus {
  outline: 0;
}

.SearchForm__btn {
  outline: 0;
  border: none;
  margin-right: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.SearchForm__icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: rgb(51, 103, 214);
  transition: transform 0.2s linear;
}

.SearchForm__btn:hover .SearchForm__icon {
  transform: scale(1.15);
}
