* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2E282A;
  color: #EDE6E3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0;
}

.app-title {
  text-align: center;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 30px;
  }
  a {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #85C7F2;
    &:hover,
    &:focus,
    &:active {
      color: #e15634;
    }
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  text-align: center;
  &__link {
    text-transform: uppercase;
    font-size: 18px;
    color: #85C7F2;
    line-height: 1.5;
    &:hover,
    &:focus,
    &:active {
      color: #e15634;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  &__input {
    width: 290px;
    color: #000;
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #F7FFF7;
  }
}

.articles-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  @media (min-width: 768px) {
    flex-flow: row wrap;
    justify-content: center;
  }
}

.wiki-article {
  display: flex;
  padding: 0 10px;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: 768px) {
    width: 50%;
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
  @media (min-width: 960px) {
    width: 33.3333%;
  }
  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 10px;
    color: #0F0F0F;
    text-decoration: none;
    background-color: #F7FFF7;
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 3px 3px rgba(225, 86, 52, 0.8);
    }
  }
  &__title {
    font-size: 24px;
    line-height: 1.3;
  }
  &__text {
    font-size: 16px;
    line-height: 1.3;
  }
}
