//=============== page
.page {
  font-family: Aladin, sans-serif;
  background-image: url(../img/bg-pattern.jpg);
  color: #1B1B1E;
}

//=============== page-header
.page-header {
  padding-top: 2rem;
  margin: 0;
  border-bottom: 3px solid #373F51;
  text-align: center;
}

//=============== hero
.hero {
  &__img {
    margin: 0 auto 1rem;
  }
  &__text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.3;
    color: #9A031E;
  }
}

//=============== content
.content {
  padding: 1rem;
}

//=============== content-article
.content-article {
  //position: relative;
  //z-index: 1;
  //overflow: hidden;
  margin-bottom: 1.5rem;
  &__title {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__text {
    line-height: 1.5;
  }
  &__img {
    width: 100%;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
      width: auto;
      max-width: 100%;
    }
  }
  &__img--left {
    @media screen and(min-width: 768px) {
      float: left;
      margin-right: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
  &__img--right {
    @media screen and(min-width: 768px) {
      float: right;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}

//=============== page-footer
.page-footer {
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-top: 3px solid #373F51;
  text-align: center;
}
