* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  &__heading {
    margin: 0;
    padding: 1rem;
    color: #fff;
    background-color: #212121;
    font-size: 1.5rem;
    text-align: center;

    @media (min-width: 768px) {
      padding: 1rem 1.5rem;
      font-size: 2rem;
      text-align: left;
    }
  }
  &__body {
    flex-grow: 1;

    @media (min-width: 768px) {
      display: flex;
    }
  }
}

