* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fefefe;
  background: linear-gradient(to right bottom, #283048, #859398);
}

a {
  text-decoration: none;
}
