@import url('https://fonts.googleapis.com/css?family=Aladin');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  color: #fefefe;
  background-color: #2E282A;
  background-image: url('../img/background.jpg');
  background-position: center center;
}

a {
  text-decoration: none;
}
