@import "reset.scss";

$red: #F44336;
$red-alpha: rgba(244, 67, 54, 0.1);
$green: #64FFDA;
$green-alpha: rgba(100, 255, 218, 0.1);
$yellow: #FFEB3B;
$yellow-alpha: rgba(255, 255, 59, 0.1);

.page {
  display: flex;
  min-height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  background: linear-gradient(#141E30, #243B55);
  color: #ECEFF1;
}

// $app
.app {
  max-width: 30rem;
  min-width: 20rem;
  width: 100%;
  margin: auto;
}

// $app-header
.app-header {
  margin-bottom: 4rem;
  font-size: 2.25rem;
  text-align: center;
}

// $knobs
.knobs {
  display: flex;
  justify-content: space-around;
}

.knob {
  &__title {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  input, label {
    font-family: Roboto, Arial, sans-serif !important;
  }
}

// $controls
.controls {
  margin-top: 3rem;
  text-align: center;

  &__btn {
    margin-right: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.125rem;
    background-color: transparent;
    font-size: 1.3rem;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &--green {
      border: 1px solid $green;
      color: $green;
      &:hover {
        background-color: $green-alpha;
      }
    }
    &--yellow {
      border: 1px solid $yellow;
      color: $yellow;
      &:hover {
        background-color: $yellow-alpha;
      }
    }
    &--red {
      border: 1px solid $red;
      color: $red;
      &:hover {
        background-color: $red-alpha;
      }
    }
  }
}

.timer {
  margin-top: 3rem;
  text-align: center;
  &__text {
    font-size: 5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

