* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 60rem;
  min-width: 20rem;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.aside {
  flex: 0 0 68%;
}
