@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import "core/core";

.page {
  font-family: Alegreya, Arial, serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #131B23;
  font-family: 'Alegreya', serif;
  color: #0F110C;
}

a {
  color: #337ab7;
}

.app-container {
  width: 100%;
  max-width: 37.5rem;
  min-width: 20rem;
  background-color: #FBFBFF;
  padding: 1rem;
  border-radius: 0.125rem;
}

.quote-box {
  display: flex;
  flex-direction: column;
}

.quote-text {
  padding: 0;
  p {
    font-size: 1.5rem;
    line-height: 1.3;

    &::before {
      content: '\201c';
      font-size: 2rem;
      margin-right: 0.25rem;
    }
    &::after {
      content: '\201d';
      font-size: 2rem;
      margin-left: 0.25rem;
    }
  }
}

.quote-author {
  align-self: flex-end;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  .tweet-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    .tweet-btn__icon {
      display: block;
      width: 3rem;
      height: 3rem;
      background-image: url('../img/twitter.svg');
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover {
      .tweet-btn__text {
        color: #EF8354;
      }
      &:before {
        background-color: darken(#337ab7, 15%);
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  .quote-btn {
    padding: 0.625rem 1.25rem;
    border: 0;
    outline: 0;
    background-color: #131B23;
    font-size: 1rem;
    color: #F6F0ED;
    text-transform: uppercase;
    transition: all 0.25s linear;
    border-radius: 0.125rem;

    &:hover {
      color: #EF8354;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.legal-info {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: #0F110C;
  text-align: center;

  &__link:hover {
    color: #EF8354;
  }
}
