.editor-pane {
  position: relative;
  width: 50%;
  font-size: 1.25rem;
  font-family: monospace;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .CodeMirror {
    padding-top: 1rem;
  }

  .react-codemirror2, .CodeMirror {
    height: 100%;
  }
}
