.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75rem;
  min-width: 20rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.app-title {
  text-align: center;
  font-size: 1.5rem;
  @media (min-width: 768px) {
    font-size: 1.75rem;
  }
  a {
    display: block;
    margin-top: 0.75rem;
    font-size: 1rem;
    color: #85C7F2;
    &:hover,
    &:focus,
    &:active {
      color: #e15634;
    }
  }
}
