.articles-gallery {
  width: 100%;
  margin-top: 2.5rem;
  &__item {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 1024px) {
      width: 33%;
    }
  }
}
