.wiki-article {
  &__link {
    display: block;
    padding: 0.75rem;
    border-radius: 0.125rem;
    color: #0F0F0F;
    text-decoration: none;
    background-color: #fefefe;
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 4px 4px #FF9770;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__title {
    font-size: 1.5rem;
    line-height: 2;
  }
  &__text {
    font-size: 1rem;
    line-height: 1.3;
  }
}
