.btn {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;
  border-radius: 3px;
  padding: 0 1.5rem;
  vertical-align: top;
  font-size: 15px;
  line-height: 2.8;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.active {
  color: #3367d6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  .btn {
    flex-basis: 32%;
  }
}

@media (min-width: 992px) {
  .btn {
    margin-right: 0.625rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .btn:last-child {
    margin-right: 0;
  }
}
