<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simon game</title>
</head>

<body>
  <div class="container">
    <div class="controls">
      <p id="step-count">00</p>
      <label for="check">
        <input type="checkbox" id="check"> strict mode
      </label>
      <button id="start-btn">start</button>
      <button id="reset-btn">reset</button>
    </div>
    <div class="buttons">
      <button id="0"></button>
      <button id="1"></button>
      <button id="2"></button>
      <button id="3"></button>
    </div>
  </div>
</body>

</html>
