<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tic Tac Toe</title>
</head>
<body>
<div class="container">
  <!-- BOARD -->
  <table class="board">
    <tr class="board__row">
      <td class="board__cell" id="0"></td>
      <td class="board__cell" id="1"></td>
      <td class="board__cell" id="2"></td>
    </tr>
    <tr class="board__row">
      <td class="board__cell" id="3"></td>
      <td class="board__cell" id="4"></td>
      <td class="board__cell" id="5"></td>
    </tr>
    <tr class="board__row">
      <td class="board__cell" id="6"></td>
      <td class="board__cell" id="7"></td>
      <td class="board__cell" id="8"></td>
    </tr>
  </table>
  <div class="result-box">
    <p class="result-box__text" id="result">winner is</p>
  </div>
  <div class="symbol-choice">
    <h3 class="symbol-choice__header">choose your symbol</h3>
    <button class="symbol-choice__btn symbol-choice__btn--cross" id="cross">
    </button>
    <button class="symbol-choice__btn symbol-choice__btn--circle" id="circle"></button>
  </div>
</div>
</body>
</html>
