<div class="board">
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
  <i class="board__item"></i>
</div>
