<div class="symbol-choice">
  <h3 class="symbol-choice__header">choose your symbol</h3>
  <button class="symbol-choice__btn symbol-choice__btn--cross" id="cross">
  </button>
  <button class="symbol-choice__btn symbol-choice__btn--circle" id="circle"></button>
</div>
